if session.passport
  nav.navbar.navbar-expand-sm.navbar-light.bg-light
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarToggler")
      a(class="navbar-brand" href="/welcome") DOSE BRAND IMG?
      ul(class="navbar-nav mr-auto mt-2 mt-lg-0")
        li(class="nav-item")
          a(class="nav-link" href="/user/"+session.passport.user.id) My Account
        li(class="nav-item")
          a(class="nav-link" href="/allergies/create") Add Allergies
        li(class="nav-item")
          a(class="nav-link" href="/welcome") Main Menu

    form(method="POST")
      button(type="submit" formaction="/logout") Log Out

