
h1 Welcome to Dose!
div.welcome
    h2 Keep track of all your medications more easily.
    br
    h2 Take a list with you when you visit the doctor, see what time you're due for a dose, and get reminders!