doctype html
html
  head
    meta(charset="utf-8")
    title Dose
    link(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
    link(rel="stylesheet" href="/../styles/fontcss/font-awesome.min.css")
    link(rel="stylesheet" href="/../styles/bootstrap.min.css")
    link(rel='stylesheet' href='/../styles/styles.css')
  body
    include partials/nav.pug

  block content
    if !session.passport
      include partials/welcomeMsg.pug
    div.btnContainer
      button#showLogin.login.marginTop Log In
      br
      button#showRegister.register.marginTop Register

    script
      include ../node_modules/jquery/dist/jquery.js
      include ../client/client.js
      include ../public/main.js
    //-   include the click event js for the buttons & main.js for api related click events