doctype html
html
  head
    title Dose
  body
    include partials/nav.pug
    //- h2 #{globalWow}

  block content
    if !session.passport
      include partials/welcomeMsg.pug
    button#showLogin login
    button#showRegister register

    script
      include ../node_modules/jquery/dist/jquery.js
      include ../client/client.js
      include ../public/main.js
    //-   include the click event js for the buttons & main.js for api related click events