extends index.pug

block content
  h1 Login
  if message
    h2= message

  div.loginForm
    form(action="/login", method="post")
      input(type="email" placeholder="Email" name="email")
      br
      input(type="password" placeholder="Password" name="password")
      br
      button(type="submit") Log In