extends index.pug

block content
    div.updateScripts
        h3 Which prescription would you like to update?
        ul
            each script in prescription
                - url = `/prescription/${script.id}`;
                    li(class='lists'): a(href=url) #{script.script_name}
