extends index.pug

block content
  .welcome-text
    if messages.registerMsg
      h1= messages.registerMsg
    else
      //- careful about flash messages. They go away when page refreshes...
      h1 #{messages.welcomeBackMsg} #{session.passport.user.first_name}
      //- This would be more permanent
      //- h1 Welcome back, #{session.passport.user.first_name}