extends index.pug

block content
  .welcome-text
    if messages.registerMsg
      h1= messages.registerMsg
    else
      h1 Welcome back, #{session.passport.user.first_name}
      br
      h2 What would you like to do?
  .row
    .col-xs-6.col-sm-6.col-md-6.col-lg-3
      a(href="/prescriptions/create")
        h3 Add a Prescription
    .col-xs-6.col-sm-6.col-md-6.col-lg-3
      a(href="/prescriptions/update")
        h3 Update a Prescription
    .col-xs-6.col-sm-6.col-md-6.col-lg-3
      a(href="/prescriptions")
        h3 See a List of my Prescriptions
    .col-xs-6.col-sm-6.col-md-6.col-lg-3
      a(href="/prescriptions/reminders")
        h3 Set a Reminder

