/* General Styles - mobile */
body {
    list-style: none;
    background-image: url('/images/dosebackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
}

.hidden {
    display:none;
}

h1 {
    padding-top:70px;
}

h1, h2, .centerText {
    text-align: center;
}

.marginTop {
    margin-top: 3%;
}

/*Buttons*/
div.btnContainer {
    text-align: center;
    font-size:1.5em;
}

/* Navigation */

nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    font-size:1.5rem;
}

img.brand {
    height: 100px;
    width:auto;
}
/* WelcomeMsg Page */
div.welcome {
    margin:10%;
    height:100%;
}

.welcome-text {
    padding-top:50px;
    padding-bottom:30px;
}

/* Login Form */
div.loginForm {
    padding-top:5%;
    text-align: center;
    margin:0 auto;
    font-size: 1.5rem;
}

div.loginForm form input {
    width:80%;
    padding:10px;
    margin-top:5%;
    margin-bottom:5%;
}

/* Main Menu (welcome view) */

.iconContainer.centerText.col-xs-6.col-sm-6.col-md-6.col-lg-3{
    background-color:white;
    opacity:.7;
}
.iconContainer.centerText.col-xs-6.col-sm-6.col-md-6.col-lg-3 a h3{
    text-shadow: 1px 1px 1px black;
}
i.menuIcon {
    color:#007bff;
    font-size:4em;
    text-shadow: 2px 2px 2px black;
}

div.iconContainer {
    height: 185px;
    width:auto;
}

/* add Prescription view */
.addScript {
    background-color:white;
}

.addScript form {
    font-size:1.5rem;
    text-align: center;
}

.addScript form select#frequencyDropdown{
    width:60%;
    margin-bottom:20px;
}

.addScript[type="radio"]{
    padding-left:1%;
    text-align:left;
}

.addScript form input {
    width:60%;
    padding:1%;
    font-size:1.5rem;
    margin-bottom:20px;
}

/* update prescription view */
div.updateScripts h3 {
    padding-top:30px;
    padding-bottom:30px;
    font-weight: bold;
    text-align: center;
}

div.updateScripts li {
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    font-weight:bold;
    text-shadow: 1px 1px 1px black;
    background-color:white;
    opacity:.7;
}
/*  */
